body {
    position: relative;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

body::before {
    content: "";
    position: fixed; /* Fixe l'image de fond */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-image: url("../../images/usbkey.jpg"); */
    background-image: url("../../images/codepy.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(1.5px) brightness(0.4);
    margin: -8px;
    padding: -8px;
    z-index: -1;
}

.MonMenu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border-bottom: solid;
    border-radius: 5em;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.Eltmenu:hover{
    zoom: 1.1;
}

main{
    margin-top: 1em;
    border-top: solid;
    border-radius: 5em;
}
.prenom{
    margin: 1em;
    font-size: 7em;
    text-shadow: 10px 10px 8px black;
}
.prenom.anim{
    animation: faedIN 2s ease-in-out;
}

.bref_cases{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}
#case{
    border-radius: 2em;
    width: 50%;
    height: auto;
    margin: 2em;
    background-color: rgba(0, 0, 0, 0.627);
    box-shadow: 1px 1px 15px 10px rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    border-top: solid;
    border-bottom: solid;
}
#case:hover{
    background-color: rgba(0, 0, 0, 0.929);  
}

.large-icon{
    height: 5em;
    width: 5em;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
}
.text{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 1em;
    text-align: center;

}
.bref{
    font-size:1.5em;
    /* text-align: center; */
    text-align: justify;
    margin-left: 4em;
    margin-right: 4em;
    background-color: rgba(0, 0, 0, 0.408);
    box-shadow: 1px 1px 15px 10px rgb(0, 0, 0);
    padding: 1em;
    border-radius: 2em;
    border-top: solid white;
    border-bottom: solid white;
    line-height: 1.4;
}
footer{

    font-family: cursive;
    margin-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    text-align: center;
    border: solid;
    border-radius: 5em;
}