body {
    color: white;
    background: linear-gradient(to right, #2f011d, #012a36);
}
.MonMenu{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    margin-top: 2em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    border-bottom: solid;
    border-radius: 5em;
}
a{
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.Eltmenu:hover{
    zoom: 1.1;
}

main{
    margin-top: 1em;
    border-top: solid;
    border-radius: 5em;
}
.prenom{
    margin: 1em;
    font-size: 7em;
    text-shadow: 10px 10px 8px black;
}
.prenom.anim{
    animation: faedIN 2s ease-in-out;
}

.bref_cases{
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
}
#case{
    border-radius: 2em;
    width: 50%;
    height: auto;
    margin: 2em;
    background-color: rgb(7, 51, 90);
    box-shadow: #000000 5px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}
.large-icon{
    height: 5em;
    width: 5em;
    align-items: center;
    text-align: center;
    color: yellow;
}
.text{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 1em;
    text-align: center;

}
footer{

    font-family: cursive;
    margin-top: 4em;
    display: grid;
    text-align: center;
    border: solid;
    border-radius: 5em;
}